body {
  margin: 0;
  background-color: rgb(82, 86, 89);
  font-family: Segoe UI, Tahoma, sans-serif;
}

canvas {
  width: 100vw !important;
  height: auto !important;
  margin: auto;
}

.react-pdf__Page {
  height: 100vh;
  display: flex;
}

.counter {
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(67, 46, 51, 0.7);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 3px 30px;
  color: #fff;
  transition: 0.5s;
}

.showCounter {
  bottom: 20px;
}

.back {
  margin-bottom: 60px;
  margin-left: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}