.wrap {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  background: #F9D2D6;
  border-radius: 12px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.text {
  margin-left: 10px;
  color: #2F2F34;
}