.table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.item {
  height: 200px;
  border-radius: 12px;
  padding: 20px 10px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  box-sizing: border-box;
}

.productName {
  height: 50px;
  width: 100%;
  font-size: 20px;
  color: #F0E9E7;
  border-top: 1px solid #F0E9E7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  flex-shrink: 0;
}