.table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  grid-gap: 20px;
}

.name {
  font-size: 24px;
  color: #432E33;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  font-weight: 500
}

.img {
  max-width: 150px
}

.item {
  border-radius: 12px;
  display: flex;
  align-items: flex-start;
  padding: 15px 20px;
  box-sizing: border-box;
  min-height: 180px;
}

.textWrap {
  color: #432E33;
  margin-left: 20px;
}

.head {
  font-size: 24px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  margin-top: 5px;
}

.text {
  font-size: 12px;
  margin-top: 12px;
}