.mainBtn {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  font-size: 20px;
  color: #2F2F34;
  font-weight: 600;
  letter-spacing: 0.1px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

.shitEffects {
  background: #F9D2D6;
}