* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    outline: none !important
}

a {
    text-decoration: none;
    outline: none;
}

*:focus {
    outline: none !important
}

.MuiPaper-root {
    background-color: inherit !important;
}