.tree {
  transform: translate(10px, 10px);
  animation: tree 2s infinite ease-in-out alternate;
}

.hair {
  animation: hair 2s infinite ease-in-out alternate;
}

.round {
  animation: round 2.3s infinite ease-in-out alternate;
}

@keyframes tree {
  from {
    transform: translateX(-2px);
  }

  to {
    transform: translateX(5px);
  }
}

@keyframes hair {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-2px);
  }
}

@keyframes round {
  from {
    transform: translate(5px);
  }

  to {
    transform: translate(-5px);
  }
}